{
   "pp_api_user":"<api_user_id>",
   "pp_api_secret":"<api_password>",
   "pp_api_installation":"<installation_id>",
   "pp_cardlock_publishableid":"<cardlock publishable ID>",
   "pp_env" : "MITE"
}