<html>
<head>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/csslib/bootstrap.min.css">
    <link rel="stylesheet" href="/csslib/bootstrap-theme.min.css">
    <link href="/css/style.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="/jslib/jquery.min.js"></script>
    <script type="text/javascript" src="/jslib/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/jslib/bootstrap.min.js"></script>

	<title> Simple PayPoint CardLock Demo</title>
</head>
<body>
{{{body}}}
</body>
</html>