<div id="infobox">
	<img src="/images/pp_logo.png"/>
	<h2>Advanced Payments demonstration application</h2>

    <p> This is a simple payment application that demonstrates how the CardLock product can be quickly integrated into a payment form
        and then on to our payments API. </p>

    <a href="/newPayment" class="btn btn-info" role="info">Start a Payment</a>

</div>